*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: $FONT_FAMILY;
  font-size: $FONT_SIZE;

  color: $FONT_COLOR;

  line-height: $LINE_HEIGHT;
  text-rendering: optimizeLegibility;
}

a {
  text-decoration: none;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

h1 { font-size: 36px; line-height: 2*$LINE_HEIGHT; }
h2 { font-size: 30px; line-height: 2*$LINE_HEIGHT; }
h3 { font-size: 26px; line-height: 1.5*$LINE_HEIGHT; }
h4 { font-size: 22px; line-height: $LINE_HEIGHT; }
h5 { font-size: 18px; line-height: $LINE_HEIGHT; }
h6 { font-size: 14px; line-height: $LINE_HEIGHT; }

p {
  max-width: 620px;
}

@mixin clearfix() {
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}
