.one,
.two,
.three,
.four,
.five,
.six,
.seven,
.eight,
.nine,
.ten,
.eleven,
.twelve {
  width: 100%;
}

.row {
  margin: 0 auto;
  padding: 0 $LINE_HEIGHT/2;

  // Clearfix for columns floating
  &:after {
    content: "";
    display: block;
    clear: both;
  }

  &--full       { max-width: 100%; }
  &             { max-width: 1140px; }
  &--paragraph  { max-width: 620px; }
  &--wide       { max-width: 1440px; }
}

/** QUERIES **/
@media only screen and(min-width: 768px) {
  .column,
  .columns {
      margin-right: 0.66666%;
      display: inline-block;
			float: left;
  }

  .one {
    width: 7.66667%;
  }
  .two {
    width: 16%;
  }
  .three {
    width: 24.33333%;
  }
  .four {
    width: 32.66667%
  }
  .five {
    width: 41%;
  }
  .six {
    width: 49.33333%;
  }
  .seven {
    width: 57.66667%;
  }
  .eight {
    width: 66%;
  }
  .nine {
    width: 74.33333%;
  }
  .ten {
    width: 82.66667%;
  }
  .eleven {
    width: 91%;
  }
  .twelve {
    width: 99.33333%;
  }
}
